<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Faculdade Node</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Página principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/index">Alunos</a> <!--Dentro da route usuário.js, estou acessando a rota get usuarios. O primeiro /usuarios foi definido em app.js, que é a forma global para realizar acesso as rotas usuario.js-->
        </li>
        {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/boletim">Boletim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/edituser">Alterar dados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/logout">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/usuarios/registro">Registro</a>
          </li>
        {{/if}}
      </ul>
      <!-- TALVEZ EU ARRUME UTILIDADE PARA ESSA BARRA FUTURAMENTE
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>